.DS_Store
.project
.classpath
**/*/bin
**/*/xtend-gen
**/*/src-gen
**/*/model/generated
target

.antlr-generator-3.2.0-patch.jar
releases
**/*/staticdispatch-gen

# VS

# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
.vs/

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

# Idea
.idea
__pycache__

# Hugo
website/public
node_modules
website/themes/hugo-theme-techdoc/exampleSite

# Xtend Eclipse plugin
*.java._trace
*.xtendbin
/duc.uscript.parent/duc.uscript.runner.standalone/standalone.jar
