dist: xenial

language: java

branches:
  only:
  - master

addons:
  snaps:
      - hugo

jdk:
  - openjdk8

before_script:
  - cd ./duc.uscript.parent
  
script:
  - mvn -P CI clean verify
  - cd $TRAVIS_BUILD_DIR/website
  - hugo

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  target-branch: gh-pages
  on:
    branch: master
  local-dir: website/public
